
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
html{
	position: relative;
    min-height: 100%;
		margin:0;padding:0;
}
body {
	position:absolute;top:0;bottom:0;width:100%;height:100%;
	text-align: center;
	background-color: #F0F0F0;
	color: #484848;
  font-family:'Roboto';
	margin:0;padding:0;
}
.container{
	min-height:100%;padding:100px 0 100px 0;margin:-100px 0 -100px 0;box-sizing:border-box;
}

.title{
	font-size: 30px;
	display: inline;
}

td{
	padding: 5px;
}

.top{
	position:relative;height:100px;
	text-align: left;
}
.bottom{
	height:100px;
  text-align: center;
	background-color: rgba(255,255,255,.40);
	width: -webkit-fill-available;
}
.bottom_title{
	margin: 0px;
	font-size: 12pt;
	color: #484848;
	padding: 15px;
	display: block;
}
.bottom_detail{
	font-size: 7pt;
	color: #A7A7A7;
	padding: 5px;
	display: block;
}
.copyright{
	font-size: 8pt;
	color: #7F7F7F;
	display: block;
}

.fa{
	font-size: 120pt;
	color: #909090;
}

.fa-user-circle-o{
	font-size: 20pt;
	padding-top: 10px;
	margin: 0 15px;
	color: #484848;
}

hr{
	display: block;
    margin: 7px 0;
    border-style: solid;
    border-width: 0.5px;
	border-color: darkgray;
}

a{
	color: #484848;
	text-decoration:none;
}
.logout{
	float:right;
	margin-right: 50px;
  font-size: 23px;
  margin-top: 6px;
}
.close-button{
	width: 40px;
	height: 40px;
	float:right;
	margin: 10px;
}
.popup{
	display: none;
	background: white;
	width: 70%;
	height: 50%;
}

.popup .popup_contents ul{
	list-style: none;
	overflow: hidden;
	display: block;
	margin: 30px 40px;
	background: bisque;
}
.popup .popup_contents li{
	list-style: none;
	display: block;
	float: left;
	width: 100%;
}
.popup .popup_contents li.change_pwd_list{

}

.popup .popup_contents li ul{
	display: block;
	margin: 20px 40px;
	text-align: center;
	padding: 0px 0px 0px 200px;
}
.popup .popup_contents li ul li{
	list-style: none;
	display: block;
	float: left;
	width: 300px;
}
a.popup-delete{
	overflow: hidden;
	display: block;
	height: 60px;
}
main{
	min-height: 100%;
	padding: 110px 0 110px 0;
	margin: -100px 0 -100px 0;
	box-sizing: border-box;
}
header{
	height: 10%;
	margin: 0px;
}
footer{
	height: 10%;
	margin: 0px;
}


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}