body {
 font-family: 'Roboto' ;
 }


table{
	text-align: center;
	margin: 0 auto;
}

td{
	width: 250px;
}

.button{
	width: 170px;
	height: 30px;
	background: #C6C6C6;
	font-size: 11pt;
	font-family: 'Roboto' ;
	border: none;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

.button:hover{
	background: #B4B4B4;
	color: white;
	-webkit-transition: all .55s ease;
	-ms-transition: all .55s ease;
	transition: all .55s ease;
}
